<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-recurso-heading" data-cy="RecursoCreateUpdateHeading" jhiTranslate="app03App.recurso.home.createOrEditLabel">
        Create or edit a Recurso
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="app03App.recurso.fichero" for="field_fichero">Fichero</label>
          <input type="text" class="form-control" name="fichero" id="field_fichero" data-cy="fichero" formControlName="fichero" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="app03App.recurso.conversacion" for="field_conversacion">Conversacion</label>
          <select
            class="form-control"
            id="field_conversacion"
            data-cy="conversacion"
            name="conversacion"
            formControlName="conversacion"
            [compareWith]="compareConversacion"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="conversacionOption" *ngFor="let conversacionOption of conversacionsSharedCollection">
              {{ conversacionOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="app03App.recurso.participante" for="field_participante">Participante</label>
          <select
            class="form-control"
            id="field_participante"
            data-cy="participante"
            name="participante"
            formControlName="participante"
            [compareWith]="compareParticipante"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="participanteOption" *ngFor="let participanteOption of participantesSharedCollection">
              {{ participanteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
