<div>
  <h2 id="page-heading" data-cy="RecursoHeading">
    <span jhiTranslate="app03App.recurso.home.title">Recursos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="app03App.recurso.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-recurso"
        [routerLink]="['/recurso/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="app03App.recurso.home.createLabel"> Create a new Recurso </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="recursos?.length === 0">
    <span jhiTranslate="app03App.recurso.home.notFound">No Recursos found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="recursos && recursos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fichero">
            <div class="d-flex">
              <span jhiTranslate="app03App.recurso.fichero">Fichero</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="conversacion.id">
            <div class="d-flex">
              <span jhiTranslate="app03App.recurso.conversacion">Conversacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="participante.id">
            <div class="d-flex">
              <span jhiTranslate="app03App.recurso.participante">Participante</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let recurso of recursos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/recurso', recurso.id, 'view']">{{ recurso.id }}</a>
          </td>
          <td>{{ recurso.fichero }}</td>
          <td>
            <div *ngIf="recurso.conversacion">
              <a [routerLink]="['/conversacion', recurso.conversacion.id, 'view']">{{ recurso.conversacion.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="recurso.participante">
              <a [routerLink]="['/participante', recurso.participante.id, 'view']">{{ recurso.participante.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/recurso', recurso.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/recurso', recurso.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(recurso)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
